body {
    background-color: #eef3ed;
    color: #333;
    font-family: 'Quicksand', sans-serif;
}


.btn-primary {
    background-color: #35522e;
    border: #35522e;
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #b0dba6 !important;
    border: #b0dba6;
    border-radius: 20px;
    color: #333;
}

.btn-secondary {
    font-size: 12px ;
    background-color: #b0dba6;
    border: #b0dba6;
    border-radius: 20px;
    
    color: #333;
}

.btn-secondary:hover {
    background-color: #364d31 !important;
    border: #364d31;
    border-radius: 20px;
}

.btn-info {
    font-size: 12px ;
    background-color: #2d302c;
    border: #2d302c;
    border-radius: 10px;
}

.btn-info:hover {
    background-color: #3b3d3a !important;
    border: #3b3d3a;
    border-radius: 10px;
}

.btn-danger {
    background-color: #575e57;
    border: #575e57;
    border-radius: 20px;
}

.btn-danger:hover {
    background-color: #464c46 !important;
    border: #464c46;
    border-radius: 20px;
}

.btn-success {
    background-color: #438743 !important;
    border: #438743;
    border-radius: 20px;
}

.btn-success:hover {
    background-color: #2d9e2d !important;
    border: #2d9e2d;
    border-radius: 20px;
}
