  @media screen and (min-width: 768px) {
    .full-height {
      height: calc(100vh - 130px);
      margin-bottom: 16px;
      margin-left: 30px;
    }
  
    .col-lg-6 {
      flex: none;
      margin-bottom: 16px;
      flex-basis: 49%;
    }
  
    .right-containers {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  
    .right-containers .col-md-12 {
      flex: none;
      flex-basis: 100%;
      width: 100%;
    }

    .fullrow {
        margin-left: 5px;
        width: 100%;
    }

    #bankicon,
    #ccicon {
    height: 45px;
    width: auto;
    }

    .billage-icon{
      height: 45px;
      width: auto;
    }

    .payment-details-col {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      }

    .edit-payment-btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    hr {
      border-color:rgb(205, 218, 202);
    }

    .carousel-control-outer {
      width: 100%;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
      width: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .carousel-control-prev {
      left: 0;
    }
    
    .carousel-control-next {
      right: 0;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .carousel-control-prev-icon svg,
    .carousel-control-next-icon svg {
      fill: #364d31;
      width: 24px;
      height: 24px;
    }

    
    .carousel-control-prev-icon {
      left: 10px;
    }
    
    .carousel-control-next-icon {
      right: 10px;
    }
    
    

  }

  
