
#bankicon,
#ccicon {
height: 45px;
width: auto;
}

.billage-icon{
  height: 45px;
  width: auto;
}

.carousel-control-outer {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon svg,
.carousel-control-next-icon svg {
  fill: #364d31;
  width: 24px;
  height: 24px;
}


.carousel-control-prev-icon {
  left: 10px;
}

.carousel-control-next-icon {
  right: 10px;
}

#bill-activity {
  overflow-x: auto;
  justify-content: center;
}

#bill-activity::-webkit-scrollbar {
  width: 2px;
}

#bill-activity::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

#bill-activity::-webkit-scrollbar-thumb {
  background-color: #add3a6;
  border-radius: 16px;
}

#bill-activity::-webkit-scrollbar-thumb:hover {
  background-color: #b1c5ad;
}

.bill-container {
  overflow-y: auto;
}

.add-billage-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-logo {
  height:60px;
  width: auto;
}

.close-button {
  height: 60px;
  width: auto;
  background: none;
  border: none;
  float: right;
}