{% extends 'frontend/index.html' %}
{% load static %}

{% block navbar %} {% include 'frontend/navbar.html' %} {% endblock navbar %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/manage_billage.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/loading_icon.css'%}">
{% endblock styles %}

{% block content %}

<div id="loading-icon">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>


<div id="main">
    
  <div class="container-fluid mx-4">
    <div class="row">

      <div class="col-md-12 col-lg-6 col-sm-12">
        <div class="col-md-12 col-lg-12 col-sm-12 bg-light p-3 border-container mt-5 pr-2 bill-container">
          <div class="row">
            <div class= "col-md-12 col-lg-12 col-sm-12 text-center">
              <h2>Billage Details</h2>
            </div>
          </div>
          <div class="row mb-2" id="billage-details">
  
          </div>
          </div>

          <div class="col-md-12 col-lg-12 col-sm-12 bg-light border-container mt-3">
            <div class="row">
              <div class= "col-md-12 col-lg-12 col-sm-12">
                <button id='add-bill-top-button' class="btn btn-primary btn-sm mt-3 add-linked-bill float-right">Add Bill</button>
              </div>
            </div>
            <div class="row">
              <div id= 'linked-bill-header' class= "col-md-12 col-lg-12 col-sm-12 text-center">
                <h2>Linked Bills</h2>
              </div>
            </div>
            <div class="row mb-4" id="linked-bills">
            </div>
          </div>

        </div>   


      <div class="col-md-12 col-lg-6 col-sm-12">
        <div class="col-md-12 col-lg-12 col-sm-12 bg-light border-container mt-lg-5 mt-md-3">
          <div class="row mt-3">
            <div class= "col-md-12 col-lg-12 col-sm-12 text-center">
              <h2>Bill Activity</h2>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 mb-4" id="bill-activity">
          </div>
        </div>
      </div> 

      
    </div>
  </div>
</div>

<script src="{% static '/js/manage_billage_parse.js' %}" type="module"></script>
<script src="{% static '/js/buttonHandling/dashboard_handler.js' %}" type="module"></script>

{% endblock content %}