<div id="main">
    <div class="container-fluid mt-4">
      
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 bg-light full-height p-3 border-container" style= "border-radius: 24px;">
          <div class="bg-light p-3">
            <div class = "row fullrow toprow">
              <h2>Upcoming Bills</h2>
            </div>
            <hr>
            <div class = "row fullrow" id="bill-activity">
  
            </div>
  
          </div>
        </div>
  
        <div class="col-md-6 col-lg-6 col-sm-12 right-containers">
          <div class="row fullrow">
  
            <div class="col-md-12 mb-3 top-container">
              <div class="bg-light p-3 border-container" style="height: 100%; border-radius: 24px;">
                <div class = "row fullrow toprow">
                  <h2>Billages</h2>
                </div>
                <hr>
                <div id="billages">
                  <div class = "row fullrow" id ="billage-row">
                  </div>
  
                </div>
                
              </div>
            </div>
  
            <div class="col-md-12 col-lg-12 col-sm-12 bottom-container">
              <div class="bg-light p-3 border-container" style="height: 100%; border-radius: 24px;">
                <div class = "row fullrow toprow">
                  <h2>Payment Methods</h2>
                </div>
                <hr>
                <div id="payment-methods">
                  
                </div>
  
          </div>
        </div>
  
      </div>
    </div>
  </div>